{% extends 'base.html' %}
{% block title %}Кабинеты - Медицинский Центр{% endblock %}
{% block description %}Список кабинетов Медицинского Центра.{% endblock %}
{% block header %}Наши Кабинеты{% endblock %}
{% block content %}
<section>
    <h2>Список кабинетов</h2>
    {% if rooms %}
        <table>
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td>{{ room.room_id }}</td>
                    <td>{{ room.room_name }}</td>
                    <td>{% if room.available %}Доступен{% else %}Занят{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Кабинеты не найдены.</p>
    {% endif %}
</section>
{% endblock %}