{% extends 'base.html' %}
{% block content %}
<section>
    <h2>Импорт врачей</h2>
    
    {% if messages %}>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
    <label>Файл для импорта</label>
    <input type="file" name="file" required>
    
        <label>Формат файла</label>
        <select name="format" required>
            <option value="csv">CSV</option>
            <option value="json">JSON</option>
        </select>
        
        <button type="submit">Импортировать</button>
        <a href="{% url 'doctors' %}">Отмена</a>
    </form>
</section>
{% endblock %}