{% extends 'base.html' %}
{% block title %}Услуги - Медицинский Центр{% endblock %}
{% block description %}Услуги, предоставляемые Медицинским Центром.{% endblock %}
{% block header %}Наши Услуги{% endblock %}
{% block content %}
<section>
    <h2>Диагностика</h2>
    <p>Современные методы диагностики для раннего обнаружения заболеваний.</p>
  </section>
  <section>
    <h2>Лечение</h2>
    <p>Комплексный подход к лечению с использованием новейших технологий.</p>
  </section>
  <section>
    <h2>Реабилитация</h2>
    <p>Поддержка и восстановление после лечения.</p>
  </section>
{% endblock %}
