{% extends 'base.html' %}
{% block title %}Врачи - Медицинский Центр{% endblock %}
{% block description %}Профессиональные врачи Медицинского Центра.{% endblock %}
{% block header %}Наши Врачи{% endblock %}
{% block content %}
<section>
    <article>
      <h2>Доктор Иванов</h2>
      {% load static %}
      <img src="{% static 'new_app/images/doctor1.jpg' %}" alt="Доктор Иванов" width="200" height="200">
      <p>Специалист в области кардиологии с 15-летним опытом.</p>
    </article>
    <article>
      <h2>Доктор Петрова</h2>
      <img src="{% static 'new_app/images/doctor2.jpg' %}" alt="Доктор Петрова" width="200" height="200">
      <p>Эксперт в области неврологии и психиатрии.</p>
    </article>
  </section>
{% endblock %}
