{% extends 'base.html' %}
{% block title %}Главная - Медицинский Центр{% endblock %}
{% block description %}Медицинский Центр - первоклассное обслуживание.{% endblock %}
{% block header %}Медицинский Центр{% endblock %}
{% block content %}
<section>
    <h2>Добро пожаловать</h2>
    <p>Мы предлагаем высококачественные медицинские услуги для каждого пациента.</p>
  </section>
  <section>
    <h2>Новости</h2>
    <article>
      <h3>Новая программа профилактики</h3>
      <p>Узнайте больше о нашей новой программе профилактики заболеваний.</p>
    </article>
  </section>
{% endblock %}
