<!DOCTYPE html>
<html lang=" кг">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты</title>
</head>
<body>
    <h1>Ваши данные</h1>
    <p><strong>ID: </strong>{{ id }} </p>
    <p><strong>Исследование: </strong>{{ trial }} </p>
    <p><strong>Самочувствие: </strong>{{ score }} </p>
    <p><strong>Препарат: </strong>{{ drug }} </p>
    <p><strong>Среднее значение оценки по данному исследованию: </strong> {{ res }} </p>
    <p><strong>Входит ли в норму? (±10%): </strong> {{ normal_res }} </p>
</body>
</html>