<!DOCTYPE html>
<html lang=" кг">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты</title>
</head>
<body>
    <h1>Ваши данные</h1>
    <p><strong>Пол: </strong>{{ gender }} </p>
    <p><strong>Возраст: </strong>{{ age }} </p>
    <p><strong>Есть ли гипертензия: </strong>{{ hypertension }} </p>
    <p><strong>Имеются сердечно-сосудистые заболевания: </strong>{{ heart_disease }} </p>
    <p><strong>Состояли/-ите в браке: </strong> {{ ever_married }} </p>
    <p><strong>Вид работы: </strong> {{ work_type }} </p>
    <p><strong>Тип местности проживания: </strong> {{ residence_type }} </p>
    <p><strong>Средний уровень глюкозы: </strong> {{ avg_glucose_level }} </p>
    <p><strong>Индекс массы тела: </strong> {{ bmi }} </p>
    <p><strong>Статус курения: </strong> {{ smoking_status }} </p>
    <hr>
    <p><strong>Вероятность инсульта: </strong>{{ probability }}% </p>
    <hr>
    <p><strong>Совет GigaChat:<br></strong><blockquote>{{ answer }}</blockquote></p>
</body>
</html>